<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: page_head(${pageTitle})}">
</head>
<body>

<div th:replace="~{navigation :: menu}"></div>

<div>
    <h2>Manage Products | [[${pageTitle}]]</h2>
</div>

<div class="tab-container">
    <div class="tab-buttons">
        <button class="tablink" onclick="changeTab(event, 'Overview')">Overview</button>
        <button class="tablink" onclick="changeTab(event, 'Description')">Description</button>
        <button class="tablink" onclick="changeTab(event, 'Images')">Images</button>
        <button class="tablink" onclick="changeTab(event, 'Details')">Details</button>
        <button class="tablink" onclick="changeTab(event, 'Shipping')">Shipping</button>
    </div>
</div>

<form th:action="@{/products/save}" method="post" th:object="${productSaveDto}"
      style="max-width: 1100px; margin: 0 auto">
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Product Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128"  />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Alias:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{alias}" required minlength="3" maxlength="128"  />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Short Description:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{shortDescription}" required minlength="3" maxlength="128"  />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Full Description:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{fullDescription}" required minlength="3" maxlength="128"  />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enabled:</label>
            <div class="col-sm-8">
                <input type="checkbox" th:field="*{enabled}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">In Stock:</label>
            <div class="col-sm-8">
                <input type="checkbox" th:field="*{inStock}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cost:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="0.0" th:field="*{cost}" required minlength="3" maxlength="128"  />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">List Price:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="0.0" th:field="*{price}" required minlength="3" maxlength="128"  />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Discount:</label>
            <div class="col-sm-8">
                <input type="text" placeholder="0.0" class="form-control" th:field="*{discountPercent}" required minlength="3" maxlength="128"  />
            </div>
        </div>

        <div class="text-center">
            <input type="submit"  class="btn btn-primary m-3" />
            <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
        </div>
    </div>
</form>

<div th:replace="~{fragments :: footer}"></div>

<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>