<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:remove="tag">
        <div class="row">
            <div class="col border m-3 p-2">
                <div><label>Main image</label></div>
                <div class="m-2">
                    <img th:src="@{${productSaveDto.mainImagePath}}"
                         id="thumbnail" alt="Main image preview" class="img-fluid"/>
                </div>
                <div>
                    <input type="file" id="fileImage" name="fileImage" required accept="image/png, image/jpeg"/>
                </div>
            </div>
        </div>

    </div>

</body>

</html>