<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Login - Bestshop Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <img class="p-3" th:src="@{/images/BestshopAdminBig.png}">
        </div>

        <form th:action="@{/login}" method="post" class="border border-secondary rounded p-3" style="max-width: 350px; margin: 0 auto">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div th:if="${param.logout}">
                <p class="logout-success-message">Logout successful!</p>
            </div>
            <div>
                <p>Access to Shopme Control Panel</p>
            </div>

            <div class="form-group">
                <input type="email" name="email" class="form-control" id="login" placeholder="Enter your login">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div>
                <input class="mb-3" type="checkbox" name="remember-me" />Remember me
            </div>

            <button type="submit" value="login" class="btn btn-primary">Submit</button>
        </form>

        <div>
            Bestshop Control Panel - Copyright &copy; Bestshop
        </div>
    </div>
</body>
</html>