<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Home - Bestshop Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div th:include="fragments/_navbar"></div>

        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}">Create New user</a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>User id</th>
                        <th>Photos</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listUsers}">
                        <td>[[${user.id}]]</td>
                        <td>photos</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td>[[${user.enabled}]]</td>
                        <td>
                            Edit &nbsp; Delete
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <footer>Bestshop Control Panel - Copyright &copy; Bestshop</footer>
        </div>
    </div>


</body>
</html>