*.icon-white{color: white}
*.icon-silver{color: silver}
*.icon-green{color: green}
*.icon-dark{color: gray}
*.icon-silver{color: silver}
*.icon-blue{color: blue}
*.icon-red{color: red}
*.icon-black{color: black}
*.icon-ligth-blue{color: #00BFFF}
*.icon-light-red{color: #f55353}
*.icon-dark-blue{color: #021170}

.logout-success-message{
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento centralizado do texto */
    font-weight: bold; /* Texto em negrito */
    border-radius: 5px; /* Borda arredondada */
    margin: 10px auto; /* Centralizar na página */
    width: 300px; /* Largura fixa ou a que você preferir */
}

@media screen and (max-width: 768px){
    /*Small screen */
    div.full-details{display: none}
    div.less-details{display: block}

    div.full-details-pagination{display: none}
    div.less-details-pagination{display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    /*Medium screen */
    div.full-details{display: block}
    div.less-details{display: none}

    div.full-details-pagination{display: block}
    div.less-details-pagination{display: none}
}

@media screen and (min-width: 1024px){
    /*Big screen */
    div.full-details{display: block}
    div.less-details{display: none}

    div.full-details-pagination{display: block}
    div.less-details-pagination{display: none}
}




